@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

a {
  color: #070439;
}

h1,
h2 {
  font-size: 2.5rem;
  margin: 0 0 1rem 0;
  padding: 0 5rem 0 0;
}

h1,
h2,
a {
  font-family: 'Raleway', sans-serif;
}

p {
  padding: 0 10rem 0 0;
}

img {
  width: 100%;
}

input {
  border-radius: 0.3rem;
  border: none;
  font-size: 0.9rem;
  outline: none;
}

.header__container,
.header__nav,
.sec1__container,
.sec2__container,
.sec3__container,
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 90%;
  margin: 0 auto;
}

.header__logo {
  /*maybe move to header partial*/
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header {
  margin: 4rem 0 5rem 0;
}

header .header__nav {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 0 0 auto;
  gap: 2rem;
}

header .header__nav a {
  font-size: 1.2rem;
}

@media only screen and (max-width: 1200px) {
  /* fix later*/
  /*Tablets [601px -> 1200px]*/
  header {
    margin: 2rem 0 3rem 0;
  }
  header .header__logo {
    max-width: 30%;
  }
  header .header__nav {
    gap: 1rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  header .header__nav a {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  /*Big smartphones [426px -> 600px]*/
}

@media only screen and (max-width: 425px) {
  /*Small smartphones [325px -> 425px]*/
  header {
    margin: 2rem 0 3rem 0;
  }
  header .header__logo {
    max-width: 30%;
  }
  header .header__nav {
    gap: 1rem;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  header .header__nav a {
    font-size: 1rem;
  }
}

.sec1__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 1rem 0 0 0;
}

.sec1__form .email {
  text-indent: 1rem;
  width: 50%;
  padding: 0.5rem 0;
  margin: 0 1rem 0 0;
  border: 0.1rem solid #070439;
}

.sec1__form .email:not(:focus):not(:placeholder-shown):invalid {
  border-color: red;
}

.sec1__form .email:not(:focus):not(:placeholder-shown):invalid ~ .error {
  display: block;
}

.sec1__form .cta {
  background-color: #3065f8;
  color: #fff;
  padding: 0.5rem 1.5rem;
  font-weight: 700;
}

.sec1__form .error {
  position: absolute;
  top: 2.5rem;
  display: none;
  color: red;
}
/*# sourceMappingURL=main.css.map */