// html {
// }
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

body {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	padding: 0;
	margin: 0;
}
a {
	color: $primary-color;
}

h1,
h2 {
	font-size: 2.5rem;
	margin: 0 0 1rem 0;
	padding: 0 5rem 0 0;
}

h1,
h2,
a {
	font-family: 'Raleway', sans-serif;
}

p {
	padding: 0 10rem 0 0;
}

img {
	width: 100%;
}

input {
	border-radius: $rounded;
	border: none;
	font-size: 0.9rem;
	outline: none;
}

.header__container,
.header__nav,
.sec1__container,
.sec2__container,
.sec3__container,
.footer__container {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 90%;
	margin: 0 auto;
}

.header__logo {
	/*maybe move to header partial*/
	display: block;
	display: flex;
	align-items: center;
	justify-content: center;
}
